body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/sprites/backgrounds/BGPJG-boss-fight-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#galaxy {
  padding: 20px;
  background-color: #290c29;
  border-radius: 8px;
  border: 1px solid purple;
}